.header
{
    width: 100%;
    min-height: auto;
    background-color: #f58f76;
    box-sizing: border-box;
    border-radius: 5px;
    border: 2px solid #2c2b30;
}

.header h2{
    color: #2c2b30;
    text-align: center;
    /* text-decoration: underline; */
    margin: 10px;
}

.box{
    background-color: white;
    border: 2px solid rgb(7, 7, 7);
    margin: 30px auto;
    padding: 35px 35px;
    width: 70%;
    height: 80%;
    border-radius: 10px;
}

h4 a
{
    color: #f58f76;
}

#pre{
    /* font-style: italic; */
    font-size: 16px;
    font-family:sans-serif;
}